service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId} {
      allow read, write: if request.auth.uid == userId;
      allow read, write: if request.auth.uid == "RnIUHCiuWJPHQRuS63jNktoRots2";
    }
    match /leaderboard/{userId} {
      allow read: if true;
      allow write: if request.auth.uid == "RnIUHCiuWJPHQRuS63jNktoRots2";
    }
  }
}
