.code-guess-container {
	display: flex;
}

.code-guess__wrapper {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	align-items: center;
	justify-content: space-around;
	> div {
		border-bottom: 1px solid #E0E0E0;
	}
	:last-child {
		margin-bottom: 0;
	}
}

.code-guess {
	display: flex;
	justify-content: space-between;
	margin-bottom: 15px;
	width: 100%;
}

.header-container {
	display: flex;
	justify-content: space-between;
	margin-bottom: 15px;
	border-bottom: 1px solid #9E9E9E;
}

.header {
	display: flex;
	font-weight: 700;
}

.card {
	margin-bottom: 15px;
}
