<mat-card class="card mat-elevation-z8">
	<mat-card-title>Game Board</mat-card-title>
	<mat-card-content>
		<div class="header-container">
			<div class="header">Codes</div>
			<div class="header">Is Guessed?</div>
		</div>
		<div class="code-guess-container">
			<div class="code-guess__wrapper">
				<ng-container *ngIf="guessResults$ | async as results">
					<div class="code-guess" *ngFor="let res of results">
						<div [ngClass]="{'answer': res.isAnswer}">Guess: {{ res.guess }};</div>
						<div [ngClass]="{'answer': res.isAnswer}">Score: {{ res.score }}</div>
					</div>
				</ng-container>
			</div>
		</div>
	</mat-card-content>
</mat-card>
<mat-card class="card mat-elevation-z8">
	<mat-card-content>
		Score: {{ score }}
	</mat-card-content>
</mat-card>
<ng-container *ngIf="isSinglePlayer">
	<button mat-raised-button color="primary" (click)="start()">Start</button>
	<button mat-raised-button color="secondary" (click)="setScript()">Set Script</button>
</ng-container>
