<div class="page-container">
	<div class="game-container panel-content">
		<code-game-board [results]="guessResults$" [score]="score$ | async"></code-game-board>
	</div>
	<div class="panel-container">
		<div class="header-container">
			<h2 class="mat-h2 panel-header">Your Script</h2>
			<div *ngIf="!(saved$ | async)">Your script is unsaved! Make sure you remember to save it!</div>
		</div>
		<div id="code-panel" class="panel-container__panel--large">
			<div class="panel-content">
				<textarea codeEditor></textarea>
			</div>
		</div>
	</div>
</div>
