<div class="page-container">
<h1 class="mat-h1">Overview</h1>

<p class="mat-body">You are given a list of possible codes, and your goal is to find the correct code in as few guesses as possible.</p>

<p class="mat-body">You are able to make one guess at a time, and if your guess was not correct, you will be informed how close that guess was to the answer. This value, the <b>likeness</b>, is simply the number of character matches on both index and value.</p>

<p class="mat-body">For example, consider the following possibilities:</p>
<pre>"ghost"
"ghast"
"roast"</pre>
<p class="mat-body">The answer in this example will happen to be "ghost".</p>
<p class="mat-body">A guess of "roast" would update that guess with a likeness of 2 ('s' and 't' match)</p>
<p class="mat-body">A guess of "ghast" would update that guess with a likeness of 4 ('g', 'h', 's', and 't' match).</p>

<mat-divider class="divider"></mat-divider>

<h1 class="mat-h1">Your Script</h1>
<p class="mat-body">Your code must be in the following syntax in order to work:</p>

<pre><code class="code-block">function yourScript() {{ '{' }}
	
	// your logic goes here...

	return 'guess';  // string value of what your guess is
{{ '}' }}
</code></pre>

<p class="mat-body">Keep all code in a <b>single function</b> (inner functions are allowed).</p>

<p class="mat-body">If your code returns an invalid guess (like a code that doesn't exist, or that has already been guessed) it will end the game.</p>

<p class="mat-body">You have access to the <code>this</code> variable to save state between guesses if you wish, as well as access to game state.</p>

<p class="mat-body">Logging is available through <code>console.log(message)</code>. You can also use <code>console.error(message)</code>, <code>console.warn(message)</code>, and <code>console.debug(message)</code>.</p>

<p class="mat-body">All built-in game state variables are backed up prior to, and restored after, your function runs. This prevents tampering.</p>

<mat-divider class="divider"></mat-divider>

<h1 class="mat-h1">Functions</h1>
<table class="table table-bordered table-striped">
	<thead>
	<tr>
			<th><div class="mat-h2">Function</div></th>
			<th><div class="mat-h2">Description</div></th>
	</tr>
	</thead>
	<tbody>
			<tr><td><code>self.getCodes()</code></td>
			<td>The list of possible codes you can guess. The array of codes returned from this function are <b>not</b> string values, they are objects with three fields on them, <code>code</code>, <code>isGuessed</code>, and <code>likeness</code>. The <code>code</code> field on each object tells you the actual string value, the <code>isGuessed</code> field tells you whether or not you have guessed that code yet, and finally the <code>likeness</code> field tells you the likeness to the answer (a <code>-1</code> means it hasn't been guessed yet, so there isn't a likeness assigned).</td></tr>
	</tbody>
</table>
</div>
